{% extends 'admin/change_form.html' %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(function(){
            // inspect html to check id of category select dropdown.
            $(document).on('change', "select#id_ctg", function(){
                $.getJSON("features/",{id: $(this).val()}, function(j){
                     var options = '<option value="" disabled selected>Choose your feature</option>';
                     console.log(j);
                     for (var i = 0; i < j.length; i++) {
                         options += '<option value="' + j[i].id + '">' + 'dev' + '</option>';
                     }
                     // inspect html to check id of subcategory select dropdown.
                     $("select#id_sub_category").html(options);
                 });
             });
         });
    </script>
{% endblock %}
